/*selected tag {
  property:value;
}*/
h1{
  font-size: 60px;
  font-style: oblique;
  color: rgb(156, 0, 0);
}
#top{
  text-align: center;
}
img.center{
  display: block;
  margin: 0 auto;
  
}
body{
  background: url(https://assets.wallpapersin4k.org/uploads/2017/04/Web-Page-Wallpaper-Backgrounds-7.jpg);
}
h2{
  font-size: 38px;
  color: orchid;
  font-family: 'Dancing Script', cursive;
}
a{
  color: orchid;
}
h3{
  font-family: 'Mansalva', cursive;
  color:aquamarine;
  font-size: 38px;
}


